<div class="container pt-4">
  <div class="categories-container mb-4">
    <div class="category-item" *ngFor="let categoria of categorias" 
        (click)="seleccionarCategoria(categoria)" 
        [ngClass]="{'active': categoriaSeleccionada === categoria.nombre}">
        <img lazyLoad [src]="categoria.imagen" class="category-image" alt="{{ categoria.nombre }}">
        <div class="category-name">{{ categoria.nombre }}</div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let producto of productosFiltrados">
      <div class="card shadow-sm product-card">
        <div class="card-img-container">
          <img lazyLoad [src]="producto.imagen" class="card-img-top" [alt]="producto.nombre">
          <!-- <div class="card-hover-overlay" (click)="irAWhatsApp(producto.numeroWhatsApp ?? '0000000000')"> -->
          <div class="card-hover-overlay" (click)="irAWhatsApp('')">
            <span>Escríbenos en las redes</span>
          </div>
          <div *ngIf="producto.esNuevo" class="nuevo-badge" [ngStyle]="{ 'background-color': producto.colorFondoNuevo, 'transform': 'rotate(' + producto.rotacionNuevo + ')' }">
            {{ producto.mensajeNuevo }}
          </div>
        </div>
        <div class="card-body p-2 text-center">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text">Q{{ producto.precio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
