<header class="header bg-dark text-white px-3 py-2 d-flex align-items-center">
    <div class="menu-container d-flex align-items-center flex-grow-1">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler esquite-icon collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <img lazyLoad src="assets/images/icon-corn.svg" alt="Menu Icon">
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">INICIO</a>
                        </li>
                        <li class="nav-item dropdown" #navItem>
                            <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLinkEsquites" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                ESQUITES
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkEsquites">
                                <li><a class="dropdown-item" routerLink="/productos/Esquites%20Original"  routerLinkActive="active">Original</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Esquites%20Tortrix"  routerLinkActive="active">Tortrix</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Esquites%20Doritos"  routerLinkActive="active">Doritos</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Esquites%20Diana"  routerLinkActive="active">Diana</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Esquites%20Señorial"  routerLinkActive="active">Señorial</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" #navItem>
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSalsas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                SALSAS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkSalsas">
                                <li><a class="dropdown-item" routerLink="/productos/Salsas">Casera</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Salsas">Chipotle</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Salsas">MayoChipotle</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Salsas">Verde Picante</a></li>
                                <li><a class="dropdown-item" routerLink="/productos/Salsas">La Esquitera</a></li>
                            </ul>
                        </li>
                        <li class="nav-item" #navItem>
                            <a class="nav-link" routerLink="/eventos">EVENTOS</a>
                        </li>
                        <li class="nav-item" #navItem>
                            <a class="nav-link" routerLink="/sucursales">SUCURSALES</a>
                        </li>
                        <li class="nav-item" #navItem>
                            <a class="nav-link" routerLink="/sobrenosotros">SOBRE NOSOTROS</a>
                        </li>
                        <li class="nav-item" #navItem>
                            <a class="nav-link" routerLink="/equipo">TRABAJA CON NOSOTROS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div *ngIf="showLogo" class="logo-container d-flex justify-content-center align-items-center col-2" #navItem>
        <a class="nav-link" routerLink="/">
            <img lazyLoad src="assets/images/logo.png" alt="Logo" class="img-fluid">
        </a>
    </div>
    <ng-template #noLogo>
        <div class="logo-placeholder d-flex justify-content-center align-items-center"></div>
    </ng-template>
    <div class="right-space col-3"></div>
</header>