<div class="image-section" [ngStyle]="backgroundStyle">
  <div class="background-overlay" [ngStyle]="filterStyle"></div>
  <div class="images-container" [ngStyle]="{'gap': gap, 'padding-bottom': paddingBottom}">
    <div *ngFor="let image of images" class="image-wrapper">
      <img [src]="image.src" [alt]="image.alt" [ngStyle]="imageStyle">
    </div>
  </div>
  <div class="section-footer" [ngStyle]="{'background-color': footerBackgroundColor}">
    <h3 [ngStyle]="{'color': titleColor}">{{ title }}</h3>
  </div>
</div>