<div class="feature-section" [ngClass]="{'reverse': reverseOrder}" 
     [ngStyle]="{'background-color': featureBackgroundColor, 'background-image': useBackgroundImage ? 'url(' + featureBackgroundImage + ')' : 'none'}">
    <div class="swiper-container" [ngStyle]="{'background-color': swiperBackgroundColor}">
        <app-swiper-section 
          *ngIf="esquitesTortrixCards.length > 0" 
          [title]="'Esquites Tortrix'" 
          [cards]="esquitesTortrixCards" 
          [titleColor]="'rgb(232 211 121)'"
          [navButtonColor]="'#c20808'"
          [cardBackgroundColor]="'rgb(30 30 30 / 76%)'"
          [indicatorBackgroundColor]="'#c20808'"
          [activeIndicatorBorderColor]="'rgb(232 211 121)'">
        </app-swiper-section>
        <app-swiper-section 
          *ngIf="esquitesDianaCards.length > 0" 
          [title]="'Esquites Diana'" 
          [cards]="esquitesDianaCards" 
          [titleColor]="'rgb(232 211 121)'"
          [navButtonColor]="'#c20808'"
          [cardBackgroundColor]="'rgb(30 30 30 / 76%)'"
          [indicatorBackgroundColor]="'#c20808'"
          [activeIndicatorBorderColor]="'rgb(232 211 121)'"
        >
        </app-swiper-section>
    </div>
    <div class="content-section" [ngStyle]="{'background-color': contentBackgroundColor}">
        <h1 class="fw-bold" [ngStyle]="{'color': titleColor}">{{ title }}</h1>
        <h2 class="fw-bolder" [ngStyle]="{'color': subtitleColor}">{{ subtitle }}</h2>
        <p class="mb-3" [ngStyle]="{'color': descriptionColor}">{{ description }}</p>
        <app-menu-button [menutitle]="buttonTitle" width="220px" height="70px" marginLeft="125px" lineWidth="75px" [ngClass]="{'reverse-button': reverseOrder}"></app-menu-button>
    </div>
</div>