<div class="feature-section" [ngClass]="{'reverse': reverseOrder}">
    <div class="swiper-container">
        <app-swiper-section *ngIf="esquitesTortrixCards.length > 0" [title]="'Esquites Tortrix'" [cards]="esquitesTortrixCards" [hoverText]="'Ver más sobre Tortrix'"></app-swiper-section>
        <app-swiper-section *ngIf="esquitesDianaCards.length > 0" [title]="'Esquites Diana'" [cards]="esquitesDianaCards" [hoverText]="'Descubre Diana'"></app-swiper-section>
    </div>
    <div class="content-section">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
        <p>{{ description }}</p>
        <app-menu-button menutitle="Menú" width="200px" height="50px" marginLeft="100px" [ngClass]="{'reverse-button': reverseOrder}"></app-menu-button>
    </div>
</div>