/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rye', sans-serif !important;
}

@font-face {
    font-family: 'Rye';
    src: url('/assets/fonts/Rye-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

html, body { height: 100%; }
body { 
    margin: 0; 
    /* font-family: Roboto, "Helvetica Neue", sans-serif;  */
    /* font-family: 'Londrina Solid', sans-serif; */
    /* font-family: 'Rye', sans-serif !important; */
}


 

