<div #mainSection class="main-section" [ngStyle]="backgroundStyle">
  <div class="background-overlay"></div>
  <div class="content">
    <div class="image-wrapper" *ngIf="imageUrl">
      <img #image [src]="imageUrl" alt="" class="center-image" [ngStyle]="imageStyle">
    </div>
    <div class="text-content">
      <h2 #subtitle class="fw-bolder" [ngStyle]="subtitleStyle">{{ subtitle }}</h2>
      <h1 #title class="fw-bold" [ngStyle]="titleStyle">{{ title }}</h1>
      <div #buttonContainer class="mt-5 button-container" [ngStyle]="{'margin-left': buttonMarginLeft}">
        <app-menu-button [menutitle]="buttonTitle" (buttonClick)="buttonClick.emit()"></app-menu-button>
      </div>
    </div>
  </div>
</div>
