.main-section {
    height: 110vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    padding-top: 80px;
  }
  
  .content {
    text-align: center;
    position: relative;
    z-index: 2;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  
  .center-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: -1;
    overflow: hidden;
  }
  
  .text-content h2 {
    font-size: 4em;
    color: #fff;
  }
  
  .text-content h1 {
    font-size: 7em;
    color: #fff;
    margin: 0.5em 0;
  }

  .button-container {
    margin-top: 20px;
    margin-left: var(--button-margin-left, 60px);
  }

  @media (max-width: 1200px) {
    .text-content h2 {
      font-size: 3em;
    }
  
    .text-content h1 {
      font-size: 5em;
    }
  
    .button-container {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .text-content h2 {
      font-size: 2.5em;
    }
  
    .text-content h1 {
      font-size: 4em;
    }
    
    .button-container {
      margin-top: 10px;
      margin-left: 15px;
    }
  
    .center-image {
      width: 70%;
      height: auto;
    }
  }
  
  @media (max-width: 480px) {
    .text-content h2 {
      font-size: 2em;
    }
  
    .text-content h1 {
      font-size: 3em;
    }
  
    .button-container {
      margin-top: 5px;
      margin-left: 15px;
    }
  
    .center-image {
      width: 60%;
      height: auto;
    }
  }