<div class="main-section" [ngStyle]="{'background-color': backgroundColor}">
    <div class="content">
      <img [src]="imageUrl" alt="Image" class="center-image" [ngStyle]="{'width': imageWidth, 'height': imageHeight}">
      <div class="text-content">
        <h2>{{ subtitle }}</h2>
        <h1>{{ title }}</h1>
        <div class="button-container" [ngStyle]="{'margin-left': buttonMarginLeft}">
            <app-menu-button [menutitle]="buttonTitle"></app-menu-button>
        </div>
      </div>
    </div>
  </div>